:root {
    --cardinal: #990000;
    --gold: #FFCC00;
    --cardinal-light: #ff9595;
    --outline: #d9dbdd;
    --outline-dark: #c5c6d0;
    --button-bg: #f5f6f6;
    --button-hover: var(--gold);
    --button-text: #000000;
    --raised-surface: #f5f6f6;
    --raised-surface-heavy: #e2e3e3;
    --error: #d42626;
    --success: #20be4f;
    --body-background: white;
    --main-text-color: black;

    --bounce-bezier: cubic-bezier(0,1.37,.61,2.06);
}

* {
    -webkit-tap-highlight-color: transparent;
}

.dark-mode {
    --outline: #545658;
    --outline-dark: #5c5c5f;
    --button-bg: #3e4146;
    --button-hover: var(--cardinal);
    --button-text: #fff;
    --raised-surface: #28292c;
    --raised-surface-heavy: #3e4045;
    --error: #f33e4d;
    --success: #43e774;
    --body-background: rgb(24, 25, 27);
    --main-text-color: rgb(255, 255, 255);
}

body,
html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background: var(--body-background);
    overflow: hidden;
    font-family: 'Inter', sans-serif;
    color: var(--main-text-color);
}

button {
    font-family: 'Inter', sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: 'Source Serif 4', sans-serif;
}

h1,
h2 {
    text-align: center;
}

main {
    height: 100%;
    width: calc(100vw - 80px);
    padding-top: 70px;
    max-width: 500px;
    margin: auto;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    width: 100%;
    height: fit-content;
}

h1 {
    margin-top: 0;
}

.flex-hor {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.game-splash-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 100;
    padding: 0 30px;
    box-sizing: border-box;
    transition: opacity 0.5s;
}
.game-splash-wrapper p {
    margin-bottom: 0;
}

.game-splash-hidden {
    pointer-events: none;
    opacity: 0;
}

.modal-wrapper {
    top: 0;
    left: 0;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.37);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 100;
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.2s;
}


.modal-visible {
    pointer-events: all;
    opacity: 1;
}

.modal-content {
    width: 100vw;
    max-width: 500px;
    background: var(--raised-surface);
    border-radius: 20px;
    border: 1px solid var(--outline);
    padding: 30px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 10px 40px rgba(0, 0, 0, .17)
}

.modal-content .history-stats {
    display: flex;
    width: 100%;
    padding: 0 20px;
    justify-content: center;
    align-items: flex-start;
}
.history-stats * {
    margin: 0;
}
.history-stats h1 {
    font-weight: 600;
    line-height: 30px;
}
.history-stats .stat {
    display: flex;
    gap: 5px;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    width: 60px;
    border-right: 1px solid var(--outline);
    padding: 0 10px;
    height: 100%;
}

.history-stats .stat:last-of-type {
    border: none;
}
.modal-content img {
    width: 60px;
    margin-bottom: 20px;
}

.modal-wrapper .modal-content {
    transform: scale(.45);
    transition: transform 0.3s ease-in;
}

.modal-wrapper.modal-visible .modal-content {
    transform: scale(1);
    transition: transform 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);
}

@media screen and (max-width: 500px) {
    .modal-content {
        height: 100vh;
        border-radius: 0;
        margin: 0;
    }
}

.game-splash-wrapper h1 {
    margin-bottom: 10px;
    font-size: 48px;
    margin-top: 30px !important;
}

.game-splash-wrapper h2 {
    margin-bottom: 40px;
    font-size: 24px;
    font-weight: 500;
}

.game-splash-wrapper button {
    margin-bottom: 20px;
    background: white;
    color: black;
    transition: color .2s, background 0.2s, border 0.2s;
    min-width: 100px;
}

.game-splash-wrapper button:hover {
    background: black;
    color: white;
}

button {
    font-family: 'Inter', sans-serif;
    border: none;
    background: transparent;
    box-sizing: border-box;
    border: 1px solid var(--outline);
    background: var(--button-bg);
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
    flex-shrink: 0;
    padding: 10px 15px;
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    transition: background 0.2s, border 0.2s;
    color: var(--button-text);
    height: 45px;
}

button i {
    font-size: 1.5rem;
}

button:hover,
button.active {
    border: 1px solid #fff0;
    background: var(--button-hover);
}

button:disabled {
    background: var(--button-bg);
    border: 1px solid var(--outline);
    color: #96979f;
    cursor: not-allowed;
}

